div img.programing{
    position: relative;
    width: 125px;
    height: 125px;
    transition: all .3s;
    filter: grayscale(100%);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;	
    cursor: pointer;
	
}

div img.programing:hover{
    transform: scale(0.9);
    filter: grayscale(0%);
	
}

div img.programing:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

div img.programing:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
